@model List<Empleado>

@{
    }
<table class="table table-striped">
    @foreach (Empleado empleado in Model)
    {
    <tr>
        <td>@empleado.NumeroEmpleado</td>
        <td>@empleado.NombreCompleto</td>
        <td>@empleado.Puesto</td>
        <td>@empleado.HorasTrabajadas</td>
        <td>@empleado.Sueldo</td>
        <td>@Html.ActionLink("Editar", "EditarEmpleado", new { numEmpleado = empleado.NumeroEmpleado })</td>
        <td>@Html.ActionLink("Eliminar", "EliminarEmpleado", new { numEmpleado = empleado.NumeroEmpleado })</td>
    </tr>
    }
<tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
</tr>
</table>

<a asp-action="RegistroEmpleado">Registrar otro empleado</a>